body {
  background-image: white;
}
p {
  color: #555;
  font: 20px 'Oswald';
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h2, h3 {
  color: #555;
  font: 50px 'Oswald';
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
}
image {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

.hero {
  color: #fff;
  font-size: 80px;
  font-family: 'Oswald';
  padding: 100px 60px 10px 60px;
  text-align: center;
  background-image: url("banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.form {
  text-align: center;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  margin: 10px;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
